<div class="ument-wrapper type-3">
    <div layout="row" layout-align="start center" class="ument-header">Cartão de crédito</div>
    <div layout="row">
        <div layout="column">
            <img src="">
        </div>
        <div layout="column">
            <div class="detail-header">Aviso de Utilização</div>
            <div class="detail-content">
                <p class="subheader"></p>
                <p class="content">O seu cartão foi utilizado ontem em França</p>
            </div>
            <div class="detail-footer"></div>
        </div>
    </div>
</div>