<div class="ument-wrapper type-2">
    <div layout="row" layout-align="start center" class="ument-header">Objectivos</div>
    <div class="ument-content" layout="row">
        <div layout="column" class="left-column">
            <div class="detail-header">Bicicleta Eléctrica</div>
            <div class="detail-content">
                <p class="subheader"></p>
                <p class="value">1.200.00€</p>
                <p class="content"></p>
            </div>
            <div class="detail-footer">Atingido a 27 de Julho</div>
        </div>
        <div layout="column" class="right-column">
            <img src="img/uments/map.png">
        </div>
    </div>
</div>