<div class="ument-wrapper type-1" style="background: {{card.imgUrl}}">
    <div layout="row" layout-align="start center" class="ument-header">Localizador</div>
    <div class="ument-content" layout="row">
        <div layout="column" class="left-column">
            <img src="img/uments/map.png">
        </div>
        <div layout="column" class="right-column">
            <div class="detail-header fittext" max-font-size="14" text-size="19">Balcão mais próximo</div>
            <div class="detail-content">
                <p class="subheader">Lisboa - Expo - João II</p>
                <p class="content">Av. João II, 198<br>1990-078 Lisboa</p>
            </div>
            <div class="detail-footer"></div>
        </div>
    </div>
</div>